@import url("https://fonts.googleapis.com/css2?family=DM+Sans&display=swap");
* {
  background-color: black;
}
body {
  font-family: "DM Sans", sans-serif;
  margin-left: 500px;
}
img {
  margin-left: 550px;
  padding-top: 0px;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 20px;
}
button {
  color: black bold;
  background-image: linear-gradient solid(purple, blue, rgb(34, 162, 217));
  border-radius: 20px;
}

.mail::before {
  content: "📧";
}
h1 {
  color: white;
}
h2 {
  color: white;
}
li {
  color: grey;
}
a {
  color: white;
}
button {
  color: green;
}
button:hover {
  background-image: linear-gradient(purple, blue, rgb(34, 162, 217));
  color: yellow;
}
